<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todaysdatarithm2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".alarm_setting"></activity>
        <activity android:name=".al5" />
        <activity android:name=".al4" />
        <activity android:name=".al3" />
        <activity android:name=".al2" />
        <activity android:name=".al1" />
        <activity android:name=".ds5" />
        <activity android:name=".ds4" />
        <activity android:name=".ds3" />
        <activity android:name=".ds1" />
        <activity android:name=".ds2" />
        <activity android:name=".algorithm" />
        <activity android:name=".data_struct" />
        <activity android:name=".bulletin_board" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".BoardActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Alarm"></receiver>
    </application>

</manifest>